In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('Bengaluru_House_Data.csv')

In [ ]:
data

In [ ]:
data.isnull().sum()

In [ ]:
data.info()

In [ ]:
# Checking unique values for location, size, society, and total_sqft
print("Unique values in 'location':", data['location'].nunique())

In [ ]:
print("Unique values in 'size':", data['size'].nunique())
print("Unique values in 'society':", data['society'].nunique())
print("Unique values in 'total_sqft':", data['total_sqft'].nunique())

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
top_locations = data['location'].value_counts().nlargest(10)

# Creating a bar plot
top_locations.plot(kind='bar', color='blue')

# Adding annotations on top of each bar
for x, y in enumerate(top_locations):
    plt.text(x, y, str(y), ha='center', va='bottom', color='blue')


plt.title('Top 10 Most Visited Locations')
plt.xlabel('Location')
plt.ylabel('Count')


plt.show()

In [ ]:
top_society = data['society'].value_counts().nlargest(10)

# Creating a bar plot
top_society.plot(kind='bar', color='red')

# Adding annotations on top of each bar
for x, y in enumerate(top_society):
    plt.text(x, y, str(y), ha='center', va='bottom', color='red')


plt.title('Top 10 Society')
plt.xlabel('Society')
plt.ylabel('Count')


plt.show()

In [ ]:
data['size'].fillna(value=data['size'].mode(), inplace=True)

In [ ]:
data['bath'].fillna(method='ffill', inplace=True)

In [ ]:
data['balcony'].fillna(method='ffill', inplace=True)

In [ ]:
data.info()

In [ ]:
# converting object to float
data['total_sqft'] = pd.to_numeric(data['total_sqft'], errors='coerce')

In [ ]:
#dropping columns
data = data.drop(columns=['society', 'location', 'availability'])

In [ ]:
data.isnull().sum()

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.hist(figsize=(10,8))
plt.show()

In [ ]:
data['sqft_price'] = data['total_sqft'] * data['price']

In [ ]:
data

In [ ]:
data = pd.get_dummies(data, columns = ['area_type','size'], drop_first= True)

In [ ]:
X = data.drop(['price'], axis = 1)

In [ ]:
y = data['price']

In [ ]:
X

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test, y_train, y_test = train_test_split(X,y,test_size=0.25, random_state=42)

In [ ]:
from sklearn.svm import SVR

In [ ]:
SVM_regressor = SVR(kernel = 'linear')

In [ ]:
X_train_scaled = scaler.fit_transform(X_train)

In [ ]:
svm_regressor.fit(X_train_scaled,y_train)

In [ ]:
y_pred = svm_regressor.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test,y_pred)
mse

In [ ]:
r2 = svm_regressor.score(X_test, y_test)
r2